/* HTML Selectors */
article {
    margin: 10px;
}

body {
    font-family: 'Kalam', cursive;
}

div {
    margin: 10px;
    text-align: center;
}

footer {
    background-color: gray;
    color: white;
    padding: 5px;
    text-align: center;
}

header {
    margin: auto;
    text-align: center;
}
label {
    display: inline-block;
    min-width: 120px;
    text-align: right;
}

main {
    text-align: center;
}

nav {
    background-color: black;
    color: white;
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    margin: 0;
    padding: 0;
}

nav ul li:first-child {
    display: block;
}

nav ul li {
    display: none;
    list-style: none;
    margin: 10px;
}

nav ul li a {
    color: white;
    display: block;
    padding: 10px;
    text-decoration: none;
}
nav ul li a:hover {
    background-color: #efefef;
    color: black;
}

/* Class Selectors */
.active {
    background-color: white;
    color: black;
}

.outside{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 18px;
}

.inside{
    margin: 0.5rem auto;
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 0.5rem;
	background-color: rgb(202, 206, 206);
	display: grid;
	grid-template-columns: 1fr;
	width: 100%;
}

.open li {
    display: block;
}

h1 {
	font-size: 1.5rem;
}

input,
button {
	padding: 0.35rem;
	margin-left: 1rem;
	font-size: 1.1rem;
}

input {
	width: 250px;
}

label {
	font-size: 1.2rem;
}
.listcontainer {
	border: 1px solid rgba(0, 0, 0, 0.2);
	margin: 1rem;
}

.list {
	margin: 0.2rem;
}

ul {
	margin: 1rem;
	list-style: none;
}

li {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 0.5rem;
}


/* Media Queries */
@media only screen and (min-width: 32.5em) {
    nav ul {
        flex-direction: row;
    }
    
    nav ul li:first-child {
        display: none;
    }

    nav ul li {
        display: inline;
        margin: 0 10px;
    }

    .inside{
        width: 70%;
    }

    input {
        width: 330px;
    }

    
}

@media only screen and (min-width: 64em) {
    .inside{
        width: 40%;
    }
    input {
        width: 330px;
    }
}
